.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.textLogo {
    font-family: Comfortaa;
    font-size: 24px;
    margin: 0;
    padding: 0;
    color: #333;
}

.form {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.label {
    margin-bottom: 5px;
    display: block;
}

.input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.input:focus{
    outline-color: #3364DD;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3364DD;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.button:hover {
    background-color: #6489e5;
}